.header {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  border: 2px solid black;
  height: 5em;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  width: 5em;
  height: 5em;
  border: 2px solid blue;
  z-index: 100;
}

.container__icon {
  position: fixed;
  right: 0;
  background-color: antiquewhite;
  width: 20em;
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid blue;
  z-index: 100;
}
.nav__icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__quote {
  margin: 0 auto;
  background-color: antiquewhite;
  margin: auto;
}

/* ----------------------------------------------------------------HERO SECTION START */
.hero {
  height: 100vh;
  background-color: tomato;
  display: flex;
}

.banner {
  background-color: blueviolet;
  height: 45em;
  width: 100%;
  margin: 0 10em;
  margin-top: 5em;
}

.banner__container-all {
  background-color: antiquewhite;
  height: 40em;
  margin: 0 2em;
  display: flex;
  flex-direction: row;
}
.banner__container-left {
  width: 50%;
  border: 2px solid blue;
  position: relative;
}

.banner__bottom-cv {
  position: absolute;
  bottom: -10px;
}

.banner__container-right {
  width: 50%;
  border: 2px solid blue;
  position: relative;
}
.banner__img {
  position: absolute;
  bottom: -40px;
  border: 2px solid black;
  margin: 0 12em;
  height: 40em;
  width: 25em;
  background-color: blue;
}
.banner__bottom-scroll {
  position: absolute;
  bottom: 80px;
  right: -55px;
  transform: rotate(90deg);
  pointer-events: none;
}

/* ----------------------------------------------------------------HERO SECTION END */

/* ----------------------------------------------------------------ABOUT SECTION START */
.about__section {
  height: 100vh;
  background-color: steelblue;
  display: flex;
}

.about {
  display: flex;
  background-color: blueviolet;
  height: 42em;
  width: 100%;
  margin: 0 10em;
  margin-top: 5em;
}
.about__container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 2em;
}

.about__image {
  width: 50%;
}

.about__container-img {
  background-color: blue;
  height: 30em;
  margin: 2em 10em;
}

.about__article {
  width: 50%;
}
.about__title {
  text-align: center;
}
.about__parrafo {
  margin: 0 8em;
  height: 20em;
}
/* ----------------------------------------------------------------ABOUT SECTION END */

/* ----------------------------------------------------------------SKILLS SECTION START */
.skills {
  height: 30vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
}
.skills__container {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
}
.skills__title-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills__boxicon-container {
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
}

.skills__boxicon {
  width: 6em;
}
/* ----------------------------------------------------------------SKILLS SECTION END */

/* ----------------------------------------------------------------WORK SECTION START */
.work {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-color: cornflowerblue;
}

.work__grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.work__projects {
  background-color: aquamarine;
  width: 22em;
  height: 22em;
}

/* ----------------------------------------------------------------WORK SECTION END */

/* ----------------------------------------------------------------CONTACT SECTION START */
#contact {
  color: white;
  background-color: #333;
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;

  margin-bottom: 20px;
}

textarea {
  height: 200px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* ----------------------------------------------------------------CONTACT SECTION END */

/* ----------------------------------------------------------------RESPONSIVE TABLET START */
/* ----------------------------------------------------------------RESPONSIVE TABLET END */

/* ----------------------------------------------------------------RESPONSIVE MOVILE START */

@media (max-width: 780px) {
  .header {
    background-color: black;
  }
}
/* ----------------------------------------------------------------RESPONSIVE MOVILE END */
